@layer components {
  /* Card */
  .card_primary {
    @apply bg-primary-color
                   text-secondary-color
                    w-full max-w-[1440px]
                    m-auto;
  }

  .card_secondary {
    @apply bg-secondary-color
                   text-primary-color
                     w-full max-w-[1440px]
                     m-auto;
  }

  .card_container {
    @apply grid grid-cols-12
                   justify-center items-center
                   w-full max-w-[1440px]
                   m-auto
                   max-sm:flex flex-col-reverse;
  }

  .card_text {
    @apply flex flex-col
                   w-full h-full
                   justify-center items-center gap-5
                   /* mobile */
                   max-sm:col-span-12 
                   max-sm:px-8
                   max-sm:py-16
                   /* tablet */
                   sm:max-lg:col-span-7 
                   sm:max-lg:px-12
                   /* Desktop */
                   lg:col-span-5
                   lg:px-12
                   xl:px-24
                   desktop-xxl:px-28;
  }

  .card_title {
    @apply font-semibold
                   uppercase 
                   /* mobile */
                   max-md:text-3xl
                   max-md:tracking-[3.333px]
                   /* tablet */
                   md:text-4xl
                   md:tracking-[4.167px];
  }

  .card_desc {
    @apply font-normal
                   text-base
                   opacity-60;
  }

  .card_desc_primary {
    @apply text-secondary-color;
  }

  .card_desc_secondary {
    @apply text-primary-color;
  }

  .card_photo {
    @apply w-full h-full m-auto
                   max-sm:col-span-12 
                   sm:max-lg:col-span-5 
                   lg:col-span-7;
  }
}
